[user]
name = Klaus Trainer
email = klaus_trainer@posteo.de

[alias]
ci = commit
st = status
br = branch
co = checkout
pff = pull --ff-only
df = diff
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
poop = stash pop

[diff]
color = auto

[pager]
color = true

[status]
color = auto

[github]
user = KlausTrainer
token = secret

[mergetool]
keepBackup = false

[merge]
tool = vimdiff
